<h2>Register</h2>

<form method="post">
    <div>
        <label>Name</label>
        <input name="Name" required />
    </div>

    <div>
        <label>Role</label>
        <select name="Role">
            <option value="Worker">Worker</option>
            <option value="Manager">Manager</option>
        </select>
    </div>

    <button type="submit">Register</button>
</form>

<p>
    Already have an account? 
    <a href="/Auth/Login">Login</a>
</p>