<h2>Workers</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Nationality</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var w in Model)
    {
        <tr>
            <td>@w.User.Name</td>
            <td>@w.Nationality</td>
            <td>@w.PhoneNumber</td>
            <td>@w.Email</td>
        </tr>
    }
    </tbody>
</table>