@model IEnumerable<HotelHousekeepingSystem.Models.CleaningTask>

<h2>Housekeeping Tasks</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Room ID</th>
        <th>Status</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var task in Model)
    {
        <tr>
            <td>@task.Room.RoomNumber</td>
            <td>@task.Status</td>
            
            <td>
                <a asp-controller="CleaningTask"
                   asp-action="Complete"
                   asp-route-id="@task.Id"
                   class="btn btn-success btn-sm">
                    Mark Complete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>1